.cart__modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #eee;
    overflow: auto;
    transition: all 0.5s linear;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.cart__top {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
}

.return__button {
    margin: 0 15px;
    background: none;
    outline: none;
    cursor: pointer;
}

.cart__products {
    width: 100%;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.cart__price{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: #222;
    display: flex;
    align-items: center;
}

.cart__price__text {
    color: #fff;
    margin-left: 10px;
}

.modal__cart__hidden {
    right: -100% !important;
    opacity: 0;
}