.cart__modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #eee;
    overflow: auto;
    transition: all 0.5s linear;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.cart__top {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
}

.return__button {
    margin: 0 15px;
    background: none;
    outline: none;
    cursor: pointer;
}

.cart__products {
    width: 100%;
    height: 83%;
    overflow-y: auto;
}

.cart__product {
    width: 380px;
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

.cart__product__image {
    width: 80px;
    height: 100%;
}

.cart__product__name {
    font-weight: bold;
}

.cart__product__size {
    margin-top: 5px;
    color: #aaa;
    font-size: 12px;
}

.cart__product__quantity {
    margin-top: 10px;
}

.cart__product__cont {
    margin: 0 10px;
}

.cart__product__add, .cart__product__remove {
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
}

.cart__product__add:hover, .cart__product__remove:hover {
    background: #000;
    color: #fff;
}

.cart__prices{
    display: flex;
    flex-direction: column;
}

.cart__product__price {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}

.cart__product__installments {
    text-align: right;
    font-size: 12px;
}

.cart__remove__item {
    font-size: 12px;
    color: #f00a;
    text-decoration: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.cart__price{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: #222;
    display: flex;
    align-items: center;
}

.cart__price__text {
    color: #fff;
    margin-left: 10px;
}

.modal__cart__hidden {
    right: -100% !important;
    opacity: 0;
}