.sale__box {
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
}

.sale__image {
    position: relative;
}

.sale__info {
    margin-left: 10px;
}

.sale__name {
    font-weight: bold;
    font-size: 18px;
}

.sale__prices {
    display: flex;
    width: 318px;
}

.sale__price--new, .sale__price {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.sale__price__installments {
    font-weight: bold;
    font-size: 13px;
    color: #999f;
}

.sale__size__options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 40px;
    grid-auto-columns: 40px;
    grid-gap: 10px;
}

.sale__size {
    background: #fff;
    color: #000e;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.sale__size--selected {
    background: #000e;
    color: #fff;
}

.sale__addcart {
    margin-top: 10px;
    background: #000e;
    color: #fff;
    width: 300px;
    height: 40px;
    font-weight: bold;
}