.search__modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #eee;
    overflow-y: auto;
    transition: all 0.5s linear;
    overflow-x: hidden;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.search__top {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
}

.return__button {
    margin: 0 15px;
    background: none;
    outline: none;
    cursor: pointer;
}

.search__form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafaaa;
}

.search__input {
    width: 95%;
    height: 35px;
    outline: none;
    border-radius: 3px;
    padding-left: 10px;
}

.search__results {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.modal__search__hidden {
    right: -100% !important;
    opacity: 0;
}