* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #dfdfdf;
}

.blur::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}