* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #dfdfdf;
}

.modal__hidden {
    right: -100% !important;
    opacity: 0;
}